{% extends "Base.html" %}
{% load staticfiles %}
{% block content %}
  <section class="demo-hero-5" data-pages="parallax" data-pages-bg-image="assets/images/hero_2.jpeg">
      <div class="container-xs-height full-height">
        <div class="col-xs-height col-middle text-center">
          <h1 class="inner p-b-50 m-b-20">All of these for the Price of One</h1>
        </div>
      </div>
    </section>
    <section class="p-b-75">
      <!-- REMOVE .pricing-layout-overflow-top to avoid top overflow -->
      <div class="container pricing-layout-overflow-top">
        <div class="p-l-30 p-r-30 m-t-30">
          <div class="row">
            <div class="col-sm-4 p-l-5 p-r-5">
              <div class="pricing-heading m-t-45">
                <div class="bg-menu p-t-60 p-b-60">
                  <h1 class="text-center text-white m-b-25 font-montserrat">
                                $49
                            </h1>
                  <p class="hint-text text-center text-white">
                    Up to 100
                    <br> products
                  </p>
                </div>
                <div class="bg-master-lighter p-t-20 p-b-20">
                  <h5 class="block-title text-center no-margin">
                                Standard
                            </h5>
                </div>
              </div>
              <div class="pricing-details p-t-30 p-l-40 p-r-40 md-p-l-20 md-p-r-20">
                <ul class="no-style">
                  <li class="text-black fs-16 normal m-b-25">
                    <span class="bold">Price Updates</span> 4 Times a Day
                  </li>
                  <li class="text-black fs-16 normal m-b-25">
                    <span class="bold">Excel Report</span>
                  </li>
                  <li class="text-black fs-16 normal m-b-25">
                    <span class="bold">Advanced Filtering</span>
                  </li>
                  <li class="text-black fs-16 normal m-b-25">
                    <span class="bold">Stock Availability Monitoring</span>
                  </li>
                  <li class="text-black fs-16 normal m-b-25">
                    <span class="bold">Price</span> Position Comparison
                  </li>
                  <li class="text-black fs-16 normal m-b-25">
                    <span class="bold">Batch Import</span>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-sm-4 p-l-5 p-r-5 xs-m-t-40">
              <div class="pricing-heading xs-p-t-10">
                <div class="bg-menu-dark padding-10">
                  <h5 class="block-title text-center text-white no-margin">
                                Recommended
                            </h5>
                </div>
                <div class="bg-menu p-t-60 p-b-60">
                  <h1 class="text-center text-white m-b-25 font-montserrat">
                                $119
                            </h1>
                  <p class="hint-text text-white text-center">
                     Up to 1000
                    <br> products
                  </p>
                </div>
                <div class="bg-master-lighter p-t-20 p-b-20">
                  <h5 class="block-title text-center no-margin">
                                Premium
                            </h5>
                </div>
              </div>
              <div class="pricing-details p-t-30 p-l-40 p-r-40 md-p-l-20 md-p-r-20">
                <ul class="no-style">
                    <li class="text-black fs-16 normal m-b-25">
                    <span class="bold">Price Updates</span> 4 Times a Day
                  </li>
                  <li class="text-black fs-16 normal m-b-25">
                    <span class="bold">Excel Report</span>
                  </li>
                  <li class="text-black fs-16 normal m-b-25">
                    <span class="bold">Advanced Filtering</span>
                  </li>
                  <li class="text-black fs-16 normal m-b-25">
                    <span class="bold">Stock Availability Monitoring</span>
                  </li>
                  <li class="text-black fs-16 normal m-b-25">
                    <span class="bold">Price</span> Position Comparison
                  </li>
                  <li class="text-black fs-16 normal m-b-25">
                    <span class="bold">Batch Import</span>
                  </li>
                </ul>

              </div>
            </div>
            <div class="col-sm-4 p-l-5 p-r-5">
              <div class="pricing-heading m-t-45">
                <div class="bg-menu p-t-60 p-b-60">
                  <h1 class="text-center text-white m-b-25 font-montserrat">
                                $209
                            </h1>
                  <p class="hint-text text-white text-center">
                     Up to 5000
                    <br> products
                  </p>
                </div>
                <div class="bg-master-lighter p-t-20 p-b-20">
                  <h5 class="block-title text-center no-margin">
                                Ultimate
                            </h5>
                </div>
              </div>
              <div class="pricing-details p-t-30 p-l-40 p-r-40 md-p-l-20 md-p-r-20">
                <ul class="no-style">
                     <li class="text-black fs-16 normal m-b-25">
                    <span class="bold">Price Updates</span> 4 Times a Day
                  </li>
                  <li class="text-black fs-16 normal m-b-25">
                    <span class="bold">Excel Report</span>
                  </li>
                  <li class="text-black fs-16 normal m-b-25">
                    <span class="bold">Advanced Filtering</span>
                  </li>
                  <li class="text-black fs-16 normal m-b-25">
                    <span class="bold">Stock Availability Monitoring</span>
                  </li>
                  <li class="text-black fs-16 normal m-b-25">
                    <span class="bold">Price</span> Position Comparison
                  </li>
                  <li class="text-black fs-16 normal m-b-25">
                    <span class="bold">Batch Import</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}